.container {
  clear: both;
  margin: 0 auto;
  min-height: 100vh;
  width: 1000px;
  box-shadow: 0 0 3px 1px #333333;
  background-color: rgb(50, 38, 38);
  color: rgb(240, 206, 206);
  position: relative;
}

.content-wrapper {
  padding: 32px 48px 16px;
  display: block;
  min-height: calc(100vh - 312px);
  background-color: rgb(50, 38, 38);
  color: rgb(240, 206, 206);
  position: relative;
  z-index: 1;
}

@media (max-width: 1020px) {
  .container {
    width: 100%;
  }
  
  .content-wrapper {
    padding: 20px;
  }
}