#banner {
  clear: both;
  margin: 0 auto;
  padding: 0;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  height: 80px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#banner img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#banner h1 {
  position: relative;
  margin: 24px 0 0 32px;
  padding: 0;
  color: #f3f3f3;
  text-shadow: 3px 3px 3px #333333;
  font-size: 32px;
  font-weight: normal;
  z-index: 2;
}

@media (max-width: 768px) {
  #banner {
    height: 60px;
  }
  
  #banner h1 {
    margin: 15px 0 0 15px;
    font-size: 24px;
  }
}