.content {
    padding: 20px 0;
  }
  
  .content p {
    margin: 20px 0;
    line-height: 1.6;
  }
  
  .content ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 30px;
  }
  
  .content li {
    margin-bottom: 15px;
    line-height: 1.5;
  }
  
  .content a {
    color: var(--main-link-color, rgb(85, 171, 246));
    text-decoration: none;
  }
  
  .content a:hover {
    text-decoration: underline;
  }
  
  .warning {
    margin-bottom: 30px;
  }