#footer {
  margin: 0 auto 0;
  padding: 0 16px;
  height: 50px;
  background-color: var(--footer-bg-color);
}

#footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0 16px;
  border-top: 1px solid #333333;
  color: #333333;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#footer a:link,
#footer a:visited {
  text-decoration: none;
  color: var(--footer-txt-color);
}

#footer a:hover,
#footer a:active {
  text-decoration: underline;
}

#footer-date {
  color: var(--footer-txt-color);
}

@media (max-width: 768px) {
  #footer ul {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  
  #footer ul li {
    margin: 5px 0;
  }
}
