#header {
    margin: 0 auto 0;
    padding: 0 16px;
    height: 132px;
    background-color: var(--header-bg-color);
    display: flex;
    align-items: center;
  }
  
  #header h1 {
    margin: 50px 0 0;
    font-size: 28px;
    font-weight: normal;
    color: var(--page-title-color);
  }
  
  #header img {
    max-height: 100px;
  }
  
  @media (max-width: 768px) {
    #header {
      flex-direction: column;
      height: auto;
      padding: 16px;
      text-align: center;
    }
    
    #header h1 {
      margin: 16px 0;
    }
    
    #header #left {
      float: none;
      margin: 0 auto;
    }
  }