.content {
    padding: 20px 0;
  }
  
  .content h1 {
    margin-bottom: 20px;
  }
  
  .content h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--main-title-color, rgb(242, 170, 44));
  }
  
  .content p {
    margin-bottom: 15px;
    line-height: 1.5;
  }
  
  .content ul {
    margin: 15px 0;
    padding-left: 20px;
  }
  
  .content li {
    margin-bottom: 8px;
    line-height: 1.5;
  }
  
  ul.download {
    list-style-type: none;
    margin: 32px 16px;
    padding: 0;
  }
  
  ul.download a {
    margin: 0;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #851719;
    border-radius: 6px;
    box-shadow: 1px 1px 2px 1px #333333;
    display: inline-block;
  }
  
  ul.download a:hover {
    background-color: #a51f22;
  }